<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Marka</td>
            <td>Şirket</td>
            <td>Müşteri</td>
            <td>Kiralama Tarihi</td>
            <td>İade Tarihi</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.brandName}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.customerName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>

</table>